* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

header h1 {font-size: 48px;}

header .btn-result {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .btn-result p {font-size: 24px;}

header .btn-result button {
    background: white;
    color: black;
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

header .btn-result button:hover {cursor: pointer;}

header span {
    position: absolute;
    font-size: 22px;
    right: 100px;
    bottom: 34px;
}

#popa-img {
    display: flex;
    position: absolute;
    height: 15em;
    width: 20em;
    left: 60%;
    top: 70%;
    bottom: 5em;
}

.container {
    /* display: flex; */
    position: absolute;
    top: 17%;
    left: 37.5%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.container .piece-images {
    /* display: flex; */
    position: absolute;
    top: 100%;
    left: -5em;
    width: 665px;
    height: 424px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 5px;
    background-color: black;
    border: 3px solid rgb(30, 255, 0);
    border-radius: 3px;
}

.container .piece-images .img-container {
    width: 160px;
    height: 202px;
    border: 1px solid white;
}

.container .piece-images .img-container img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.container .piece-images .img-container img:hover {
    cursor: pointer;
    opacity: 80%;
}

.container .demo-img {
    width: 500px;
    height: 380px;
}

.container .demo-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 5px solid black;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}